.get__help {
  display: flex;
  justify-content: space-between;
  padding: 4rem 7rem 0 7rem;
  &-text {
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    opacity: 0.8;
    color: $color-dark-grey;
  }
  &-text-link {
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-blue;
  }
}
