/* FULL-NAME PHONE-NUMBER */

.contact-details__name-phone-input {
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.8rem;
  letter-spacing: 0.2px;
  width: 100%;
  border: 0;
  outline: none;
  border-bottom: 2px solid #d5d9dc;
}

.contact-details__name-phone {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contact-details__name-phone-label {
  position: relative;
  width: 48%;
}

/* EMAIL - COUNTRY  */

.contact-details__input-email-country {
  width: 100%;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.8rem;
  border: 0;
  outline: none;
  border-bottom: 2px solid #d5d9dc;
}

.contact-details__email-text {
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 1.4rem;
  color: #a4aeb4;
  margin-bottom: 1rem;
}

.contact-details__input-email-country:focus {
  border-bottom: 2px solid #2696e8;
}

/* ERROR AND FOCUS STATE */

.contact-details__name-phone-input:focus {
  border-bottom: 2px solid #2696e8;
}

.error {
  border-bottom: 2px solid red !important;
}

.clickSpan {
  color: #2696e8;
}
