body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $background-body;
}

//Container for background colors
.container {
  display: flex;
  min-height: 70vh;
  width: 100vh;

  &__right {
    background-color: $background-white;
    width: 75%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__left {
    width: 25%;
    background-color: $background-blue;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// .font-1 {
//   font-family: "Monserrat", sans-serif, italic;
//   font-weight: 300;
// }

// .font-2 {
//   font-family: "Montserrat Alternates", sans-serif;
//   font-weight: 900;
// }
// .font-3 {
//   font-family: "Poppins", sans-serif;
//   font-weight: 500;
// }
