body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $background-body;
  @media only screen and (max-width: 1440px) {
    min-height: 100vh;
  }
}

//Container for background colors
.container {
  display: flex;
  min-height: 90vh;
  //width: 110vh;
  width: 100%;
  padding: 1.5rem;
  @media only screen and (max-width: 1440px) {
  }

  &__right {
    background-color: $background-white;
    width: 65%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: 1440px) {
      width: 70%;
    }
  }
  &__left {
    width: 35%;
    background-color: $background-blue;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: 1440px) {
      width: 30%;
    }
  }
}

// .font-1 {
//   font-family: "Monserrat", sans-serif, italic;
//   font-weight: 300;
// }

// .font-2 {
//   font-family: "Montserrat Alternates", sans-serif;
//   font-weight: 900;
// }
// .font-3 {
//   font-family: "Poppins", sans-serif;
//   font-weight: 500;
// }
