@mixin lineInvest {
  content: "";
  width: 120px;
  height: 4px;
  background-color: $background-line;
  position: absolute;
  top: 30%;
}

@mixin lineInvest-after {
  right: 0;
  top: -0.5rem;
  height: 14px;
  width: 3px;
  content: "";
  background-color: $color-grey;
  position: absolute;
}

@mixin lineInvest-before {
  left: 0;
  top: -0.5rem;
  height: 14px;
  width: 3px;
  content: "";
  background-color: $color-grey;
  position: absolute;
}
