//ALL FONTS

//////////////Montserrat
//bold //semi bold //medium //medium italic
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&display=swap");

//////////Montserrat Alternates
//bold //extrabold //semi bold
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600;700;800&display=swap");

//poppins
//medium
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

//Background
$background-blue: #35a0ee;
$background-light-blue: #f6fbff;
$background-white: #fff;
$background-body: #dce8ff;
$background-deactivated: rgba(255, 255, 255, 0.5);
$background-line: #e9f0f5;

//Color
$color-light-blue: #35a0ee;
$color-blue: #2696e8;
$color-grey: #a1afb8;
$color-dark-grey: #a4aeb4;
$color-light-grey: #d5d9dc;
$color-black: #031106;
$color-black-dark: #0b1d2e;
$color-black-1: #07111b;
